<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% if title %}{{ title }}{% else %}{{ 'admin.name'|lang }}{% endif %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'|asset('icon') }}">
    <link rel="manifest" href="{{ 'manifest.json'|asset('icon') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png'|asset('icon') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}"/>
    <script type="text/javascript" src="{{ 'jquery.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'webgui.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'filemanager.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'cselect.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'string.js'|local('js') }}" charset="UTF-8"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <section id="wrapper">
        <section id="filemanager"></section>

        <section id="main-menu">
            <a href="/admin/" id="logo">
                <img src="{{ 'core.png'|local('img') }}" alt="NanoLab"/> Nano Core
            </a>

            <a href="/admin/logout/" class="right">
                <i class="fa fa-power-off"></i>
            </a>

            <a href="#" class="right">
                <i class="fa fa-user"></i>
                {{ user.username }}
            </a>

            <a href="/" target="_blank" class="right">
                <i class="fa fa-eye"></i>
            </a>

            <a href="/admin/settings/" title="{{ 'admin.settings'|lang }}" class="right">
                <i class="fa fa-cog"></i>
            </a>

            <a href="https://github.com/Max201/nanocore/issues" title="{{ 'admin.bug'|lang }}" target="_blank" class="right">
                <i class="fa fa-bug"></i>
            </a>

            <a onclick="gui.fm.toggle();" href="javascript:void(0);" title="{{ 'admin.file.manage'|lang }}" target="_blank" class="right">
                <i class="fa fa-file"></i>
            </a>

            <a href="/admin/services/" title="{{ 'admin.services'|lang }}" class="right">
                <i class="fa fa-bolt"></i>
            </a>

            <a href="/admin/modules/" title="{{ 'admin.modules'|lang }}" class="right">
                <i class="fa fa-cubes"></i>
            </a>

            <a href="/admin/social-posting/" title="{{ 'admin.smp.title'|lang }}" class="right">
                <i class="fa fa-bullhorn"></i>
            </a>

            <a href="/admin/" title="{{ 'admin.dashboard'|lang }}" class="right">
                <i class="fa fa-dashboard"></i>
            </a>
        </section>

        <section id="container">
            <!--Navigation bar-->
            <nav id="main-context">
                {% for group in menu|keys %}
                    <header>
                        <i class="fa fa-{{ menu[group]['$icon'] }}"></i>
                        {{ group }}
                    </header>

                    {% for title in menu[group]|keys %}
                        {% if title not in '$icon' %}
                        <a href="{{ menu[group][title] }}">{{ title }}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </nav>

            <!--Content box-->
            <main class="content-wrapper">
                <section id="content">
                        <header>
                            {% block header %}{% if header %}{{ header }}{% else %}{{ title }}{% endif %}{% endblock %}
                        </header>
                        {% block body %}{{ content }}{% endblock %}
                </section>
            </main>
        </section>
    </section>
</body>
</html>