{% extends 'base.twig' %}
{% block head %}
    <script type="text/javascript">
        function submit()
        {
            var data = {
                'title': $('#title').val(),
                'forum': $('#forum').val()
            };

            $.post('{{ 'topic.new'|url }}?id={{ forum.id }}', data, function(r){
                $('.message').text(r.message).slideDown();
                gui.go('{{ 'list'|url }}', 2);
            });
        }
    </script>
{% endblock %}
{% block body %}
    <menu>
        <a class="item" href="{{ 'list'|url }}">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>
        {% if forum.id %}
            <a class="item" href="{{ 'list'|url }}?delete={{ forum.id }}">
                <i class="fa fa-trash"></i>
                {{ 'button.delete'|lang }}
            </a>
        {% endif %}

        <nav class="right">
            <a class="item" href="#" onclick="submit();">
                <i class="fa fa-save"></i>
                {{ 'button.save'|lang }}
            </a>
        </nav>
    </menu>

    <div class="message success" style="display: none;"></div>

    <form action="" method="post" class="form">
        <label for="title">
            <span class="title">{{ 'forum.headline'|lang }}</span>
            <input placeholder="{{ 'forum.headline'|lang }}" type="text" value="{{ forum.title }}" id="title"/>
        </label>

        <label for="forum" class="cselect">
            <span class="title">{{ 'forum.parent'|lang }}</span>
            <select name="forum" id="forum">
                <option value=""{% if not forum.forum_id %} selected{% endif %}>{{ 'forum.parent'|lang }}</option>
                {% for top in topics %}
                    <option value="{{ top.id }}"{% if top.id == forum.forum_id %} selected{% endif %}>{{ top.title }}</option>
                {% endfor %}
            </select>
        </label>
    </form>
{% endblock %}
