<div class="snippet head">VKontakte Social Media Posting Template</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">title</span> - {{ 'admin.smp.tpl.title'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">content</span> - {{ 'admin.smp.tpl.content'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">category</span> - {{ 'admin.smp.tpl.category'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">content|short</span> - {{ 'admin.smp.tpl.short'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">tags</span> - {{ 'admin.smp.tpl.tags'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">url</span> - {{ 'admin.smp.tpl.url'|lang }}
</div>
<div class="snippet">
    <span onclick="gui.snippetclip(this)" class="snippet twig">author</span> - {{ 'admin.smp.tpl.author'|lang }}
</div>