<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}{% block title %}{{ title }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'|asset('icon') }}">
    <link rel="manifest" href="{{ 'manifest.json'|asset('icon') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png'|asset('icon') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">

    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery', '2.2.0') }}"></script>
    <script type="text/javascript" src="{{ 'comment.js'|asset('js') }}"></script>
    <script type="text/javascript" src="{{ 'like.js'|asset('js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <section id="navigation">
        <div class="fleft" id="logo">
            <img src="/theme/greenlab/img/core.png" alt="NanoLab"/>
            <span>NanoLab</span>
        </div>

        {% if not user.id %}
        <div class="fright ulogin">
            {{ ulogin.panel|raw }}
        </div>
        {% endif %}
        <div class="clear"></div>
    </section>

    <section id="content" class="row">
        <div class="col-3 fright">
            <div class="tab">
                <header>
                    <img class="group-icon" src="{{ group.icon }}" alt="{{ group.name }}"/>
                    {{ user.username }}

                    {% if user.rating < 0 %}
                    <span class="rating sm fright">{{ user.rating }}</span>
                    {% elseif user.rating < 50 %}
                    <span class="rating md fright">{{ user.rating }}</span>
                    {% else %}
                    <span class="rating lg fright">{{ user.rating }}</span>
                    {% endif %}
                </header>
                <div class="body">
                    <a href="/user/avatar">
                        <img src="{{ user|avatar }}" alt="{{ user.username }}" class="avatar" />
                    </a>
                    <div class="">
                        asd

                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 content">
            {% block body %}{% endblock %}
        </div>
    </section>

    <section id="footer" class="row hide-md hide-sm">
        <ul class="col-3">
            <li class="headline">NanoLab</li>
            {% for page in static_pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="col-3">
            <li class="headline">Ссылки</li>
            <li><a href="/">Главная страница</a></li>
            {% if not user.id %}
            <li><a href="/user/new">Регистрация</a></li>
            <li><a href="/user/auth">Авторизация</a></li>
            {% endif %}
        </ul>
        <div class="col-3">
            <div class="headline">Lorem ipsum dolor sit amet, consectetur.</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut blanditiis cumque, cupiditate delectus dolore doloremque dolores eligendi fuga fugiat incidunt nam nemo nesciunt officia quia ratione rem reprehenderit, sapiente similique voluptas.
            </p>
        </div>

        <div class="clear"></div>
    </section>

    {{ counter.ga|raw }}
</body>
</html>