<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}{% block title %}{{ title }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'|asset('icon') }}">
    <link rel="manifest" href="{{ 'manifest.json'|asset('icon') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png'|asset('icon') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">

    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery', '2.2.0') }}"></script>
    <script type="text/javascript" src="{{ 'comment.js'|asset('js') }}"></script>
    <script type="text/javascript" src="{{ 'like.js'|asset('js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>

    <section id="navigation">

    </section>

    <section id="content" class="row">
        <div class="col-8 content">
            {% block body %}{% endblock %}
        </div>
        <div class="col-2 rside">
            asd
        </div>
    </section>

    <section id="footer" class="row hide-sm">
        <ul class="col-3">
            <li class="headline">NanoLab</li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
        </ul>
        <ul class="col-3">
            <li class="headline">Ссылки</li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
            <li><a href="#content">asdasd</a></li>
        </ul>
        <div class="col-3">
            <div class="headline">Lorem ipsum dolor sit amet, consectetur.</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut blanditiis cumque, cupiditate delectus dolore doloremque dolores eligendi fuga fugiat incidunt nam nemo nesciunt officia quia ratione rem reprehenderit, sapiente similique voluptas.
            </p>
        </div>

        <div class="clear"></div>
    </section>

    {{ counter.ga|raw }}
</body>
</html>