<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}{% block title %}{{ title }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'|asset('icon') }}">
    <link rel="manifest" href="{{ 'manifest.json'|asset('icon') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png'|asset('icon') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">

    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery', '2.2.0') }}"></script>
    <script type="text/javascript" src="{{ 'comment.js'|asset('js') }}"></script>
    <script type="text/javascript" src="{{ 'like.js'|asset('js') }}"></script>
    {% block head %}{% endblock %}

    <script type="text/javascript">
        can_like = '{{ group.can('like') }}';
    </script>
</head>
<body>
    <section id="navigation">
        <a href="/">
            <div class="fleft" id="logo">
                <img src="/theme/greenlab/img/core.png" alt="NanoLab"/>
                <span>NanoLab</span>
            </div>
        </a>

        {% if not user.id %}
        <div class="fright ulogin">
            {{ ulogin.panel|raw }}
        </div>
        {% else %}
        <div class="fright">
            <strong style="color: #888; line-height: 48px;">{{ user.username }}</strong>
            <img class="avatar sm" src="{{ user|avatar }}" alt="{{ user.username }}"/>
        </div>
        {% endif %}
        <div class="clear"></div>
    </section>

    <section id="content" class="row">
        <div class="col-2 fright">
            <div class="tab">
                {% if user.id %}
                <header>
                    <img class="group-icon" src="{{ group.icon }}" alt="{{ group.name }}"/>
                    {{ user.username }}

                    {% if user.rating < 0 %}
                    <span class="rating sm fright">{{ user.rating }}</span>
                    {% elseif user.rating < 50 %}
                    <span class="rating md fright">{{ user.rating }}</span>
                    {% else %}
                    <span class="rating lg fright">{{ user.rating }}</span>
                    {% endif %}
                </header>
                <div class="body">
                    <a href="/user/avatar" class="avatar">
                        <img src="{{ user|avatar }}" alt="{{ user.username }}" class="avatar" />
                    </a>
                    {% if group.can('publicate') %}
                    <a class="btn menu" href="/post/new/">Написать</a>
                    <a class="btn menu" href="/post/list/my/">Мои публикации</a>
                    {% endif %}
                    <a class="btn menu" href="/user/exit/">Выход</a>
                </div>
                {% else %}
                <header>
                    <i class="fa fa-shield"></i> Авторизация
                </header>

                <div class="body">
                    <a class="btn menu" href="/user/auth/">Войти</a>
                    <a class="btn menu" href="/user/new/">Создать аккаунт</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-8 content">
            {% block body %}{% endblock %}
        </div>
    </section>
    <div class="clear"></div>

    <section id="footer" class="row hide-md hide-sm">
        <ul class="col-3">
            <li class="headline">NanoLab</li>
            {% for page in static_pages %}
                <li>
                    <a href="{{ page.url }}">
                        <i class="fa fa-file"></i>
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="col-3">
            <li class="headline">Ссылки</li>
            <li><a href="/"><i class="fa fa-home"></i> Главная страница</a></li>
            <li><a href="#"><i class="fa fa-clock-o"></i> NanoCore CMS <small>(скоро)</small></a></li>
            {% if not user.id %}
            <li><a href="/user/new"><i class="fa fa-user-plus"></i> Регистрация</a></li>
            <li><a href="/user/auth"><i class="fa fa-sign-in"></i> Авторизация</a></li>
            {% endif %}
        </ul>
        <div class="col-3">
            <div class="headline">О сообществе...</div>
            <p>
                Наше сообщество не терпит информационной безгамотности. Мы стараемся собрать максимально
                актуальную и интересную информацию.
            </p>
            <p>
                Каждый из вас может <a href="/user/new">присоединиться</a> к нам чтобы внести свой вклад в развитие
                и рассказать людям об интересующих вас вещах.
            </p>
            <p>
                Любопытство одна из движущих сил нашего сообщества.
            </p>
            <div class="text-center">
                <a href="http://vk.com/nanolabpw" target="_blank" class="btn sm">
                    <i class="fa fa-vk"></i> ВКонтакте
                </a>
                <a href="http://twitter.com/nanolab_pw" target="_blank" class="btn sm">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
            </div>
        </div>

        <div class="clear"></div>
    </section>

    {{ counter.ga|raw }}
</body>
</html>