<script type="text/javascript" src="{{ 'tinymce.min.js'|cdn('tinymce') }}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#{% if wyid %}{{ wyid }}{% else %}edit{% endif %}',
        width: {% if wywidth %}{{ wywidth }}{% else %}965{% endif %},
        min_height: 500,
        menubar: false,
        language_url: '{{ (lang_code ~ '.js')|asset('tinymce_langs') }}',
        plugins: 'colorpicker pagebreak image link table textcolor wordcount',
        toolbar: "undo redo text | pagebreak | bold italic underline | alignleft aligncenter alignright alignjustify | styleselect fontselect | link unlink | forecolor backcolor image | table",
        pagebreak_separator: '<br id="short"/>'
    });
</script>
<div style="margin: 15px">
    <textarea name="{% if wyid %}{{ wyid }}{% else %}edit{% endif %}" id="{% if wyid %}{{ wyid }}{% else %}edit{% endif %}">{{ edit_content|raw }}</textarea>
</div>