<script type="text/javascript" src="{{ 'tinymce.min.js'|cdn('tinymce') }}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#{% if wyid %}{{ wyid }}{% else %}edit{% endif %}',
        width: 965,
        min_height: 500,
        menubar: false,
        language_url: '{{ (lang_code ~ '.js')|asset('tinymce_langs') }}',
        plugins: 'anchor colorpicker image link table textcolor wordcount',
        toolbar: "undo redo text | alignleft aligncenter alignright alignjustify | bold italic underline | anchor link unlink | forecolor backcolor image lists | table"
    });
</script>
<div style="margin: 15px">
    <textarea name="content" id="{% if wyid %}{{ wyid }}{% else %}edit{% endif %}">{{ page.content|raw }}</textarea>
</div>