{% extends 'index.twig' %}

{% block body %}
    {% if error %}
        <div class="message error">
            {{ error }}
        </div>
    {% endif %}
    {% if message %}
        <div class="message success">
            {{ message }}
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <section class="form-body">
            <label for="avatar">
            {% if user.avatar %}
                <img class="form-avatar" src="{{ user.avatar }}" alt="{{ user.username }}"/>
            {% else %}
                <img class="form-avatar" src="{{ user|grava(160) }}" alt="{{ user.username }}"/>
            {% endif %}
            </label>
            <input style="display: none;" id="avatar" type="file" name="avatar">
        </section>
        <footer>
            <a class="notice" href="?delete=1">{{ 'button.delete'|lang }}</a>
            <button type="submit" class="button">{{ 'button.save'|lang }}</button>
        </footer>
    </form>
{% endblock %}