{% extends 'index.twig' %}

{% block body %}
    {% if error %}
        <div class="message warning center">
            {{ error }}
        </div>
    {% endif %}
    {% if message %}
        <div class="message success center">
            {{ message }}
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <section class="form-body">
            <label for="avatar" class="avatar">
                <img class="avatar center" src="{{ user|avatar }}" alt="{{ user.username }}"/>
            </label>
            <p class="message center">Нажмите на изображение и выберите новое</p>
            <input style="display: none;" id="avatar" type="file" name="avatar">
        </section>
        <div class="options">
            <div>
                <a style="display: inline-block; padding: 3px 0 0 10px" class="fleft" href="?delete=1">{{ 'button.delete'|lang }}</a>
                <button type="submit" class="btn btn-default pull-right">{{ 'button.save'|lang }}</button>
                <div class="clear"></div>
            </div>
        </div>
    </form>
{% endblock %}