{% extends 'index.twig' %}

{% block body %}
    {% if not posts %}
        <div class="message info">
            Нет записей
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="media">
            <div class="media-header">
                <div class="votes fright">
                    <span onclick="likes.plus('publication{{ post.id }}', '#post-{{ post.id }}')" class="fa fa-thumbs-up"></span>
                    <span class="counter" id="post-{{ post.id }}">{{ ('publication' ~ post.id)|likes_count }}</span>
                    <span onclick="likes.minus('publication{{ post.id }}', '#post-{{ post.id }}')" class="fa fa-thumbs-down"></span>
                </div>

                <a href="{{ 'post'|url(post.id, post.slug) }}">
                    <img src="{{ post.author|avatar }}" alt="{{ post.author.username }}"/>
                </a>

                <h4>
                    <a href="{{ 'post'|url(post.id, post.slug) }}">{{ post.title }}</a>
                </h4>

                <p class="info">
                    Опубликовал
                    <a href="/post/list/{{ post.author.id }}/">
                        <i class="fa fa-user"></i>
                        {{ post.author.username }}
                    </a>
                </p>
                <div class="clear"></div>
            </div>

            <div class="media-body plain">
                {{ post.content|short|raw }}
            </div>

            <div class="info">
                <a target="_blank" href="{{ 'category'|url(post.category_id) }}">
                    <i class="fa fa-tag"></i>
                    <span>{{ post.category.title }}</span>
                </a>

                <span class="fright">
                    <strong>{{ ('publ'~post.id)|comments_count }}</strong> Комментариев
                </span>
                <span class="fright">
                    <strong>{{ post.views }}</strong> Просмотров &nbsp;&nbsp;&nbsp;
                </span>
            </div>
        </div>
    {% endfor %}

    {% include 'paging.twig' %}
{% endblock %}