{% extends 'index.twig' %}
{% block head %}
    <script src="/theme/admin/js/webgui.js" type="text/javascript"></script>
    <script src="/theme/admin/js/string.js" type="text/javascript"></script>
    <script type="text/javascript">
        function submit()
        {
            var data = {
                'content': tinyMCE.get('edit').getContent(),
                'title': $('#title').val(),
                'category': $('#category').val(),
                'keywords': $('#keywords').val(),
                'slug': $('#slug').val()
            };

            $.post('{{ 'new'|url }}?id={{ post.id }}', data, function(r){
                $('.message').text(r.message).slideDown();
                {#if ( moderate == '0' ) {#}
                    {#gui.go('{{ 'list'|url }}', 2);#}
                {#} else {#}
                    {#gui.go('{{ 'list.moderation'|url }}', 2);#}
                {#}#}
            });
        }
    </script>
{% endblock %}
{% block body %}

    <div class="message success" style="display: none;"></div>

    <form class="form wide" method="post" onsubmit="return false;">
        <label for="title" class="x50">
            <input name="title" data-url-for="#slug" placeholder="{{ 'post.title'|lang }}" title="{{ 'post.title'|lang }}" class="wide" type="text" value="{{ post.title }}" id="title"/>
        </label>
        <label for="category" class="x50 cselect">
            <select name="category" id="category" data-width="473">
                {% for cat in categories %}
                    <option value="{{ cat.id }}"{% if cat.id == post.category.id %} selected{% endif %}>{{ cat.title }}</option>
                {% endfor %}
            </select>
        </label>

        <label for="keywords">
            <input name="keywords" placeholder="{{ 'post.keywords'|lang }}" title="{{ 'post.keywords'|lang }}" class="wide" type="text" value="{{ post.keywords }}" id="keywords"/>
        </label>
        <label for="slug">
            <input name="slug" placeholder="{{ 'post.slug'|lang }}" title="{{ 'post.slug'|lang }}" class="wide" type="text" value="{{ post.slug }}" id="slug"/>
        </label>

        {% set wyid='edit' %}
        {% set wywidth=880 %}
        {% set edit_content=post.content %}
        {% include '@admin/com/wysiwyg.twig' %}

        <footer>
            <a onclick="submit()"  class="button">{{ 'post.publish'|lang }}</a>
        </footer>
    </form>
{% endblock %}
