{% extends 'index.twig' %}
{% set com=('publ' ~ post.id) %}


{% block body %}
    <div class="entry-item">
        <div class="entry-author">
            {% if post.author.avatar %}
                <img src="{{ post.author.avatar }}" alt="{{ post.author.username }}"/>
            {% else %}
                <img src="{{ post.author|grava(160) }}" alt="{{ post.author.username }}"/>
            {% endif %}
        </div>
        <div class="entry-description">
            <h2 class="headline">
                <strong>
                    {{ post.author.username }}: {{ post.title }}
                </strong>
                <small><a href="{{ 'category'|url(post.category_id) }}">#{{ post.category.title }}</a></small>
            </h2>
            <div>
                {{ post.content|raw }}
            </div>
            <div class="entry-footer">
                <div class="entry-date">
                    {{ post.updated_at|tz|dlang }}
                </div>
                <div class="entry-stat">
                    <span>Комментариев {{ id|comments_count }}</span>
                    <span>Просмотров {{ post.views }}</span>
                </div>
            </div>
        </div>
    </div>

        {% set comments=com|comments %}
        <div id="comments-section">
        {% include 'comment/list.twig' %}
        </div>
{% endblock %}