{% extends 'index.twig' %}

{% block body %}
    {% for post in posts %}
        <div class="entry-item">
            <div class="entry-date">
                {{ post.updated_at|tz('d')|raw|dlang }}<br />
                {{ post.updated_at|tz('M')|raw|dlang }}
            </div>
            <div class="entry-description">
                <h2 class="headline">
                    <strong>{{ post.author.username }}: </strong>
                    <a target="_blank" href="{{ 'post'|url(post.id, post.slug) }}">
                        {{ post.title }}
                    </a>
                    <sup>
                        <small><a href="{{ 'category'|url(post.category_id) }}">#{{ post.category.title }}</a></small>
                    </sup>
                </h2>
                <div class="entry-stat">
                    +{{ post.views }}
                </div>
                <div class="entry-short" onclick="document.location.href = '{{ 'post'|url(post.id, post.slug) }}';">
                    {{ post.content|short|raw }}
                </div>
            </div>
        </div>
        <div class="cb"></div>
    {% endfor %}

    {% include 'paging.twig' %}
{% endblock %}