<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">
    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <section id="navigation">
        <div class="wrap center">
            <a href="/">
                <div id="logo">
                    <img src="{{ 'nanolab.png'|local('img') }}" alt="NanoLab Logo">
                    <strong>Nano Lab</strong>
                </div>
            </a>
            <div class="menu">
                <a href="/">Главная</a>
                {% for page in static_pages %}
                    <a href="{{ page.url }}">{{ page.title }}</a>
                {% endfor %}

                {% if not user.id %}
                    <a href="/user/auth/">Войти</a>
                    <a href="/user/new/">Зарегистрироваться</a>
                {% else %}
                    <a href="#">{{ user.username }}</a>
                {% endif %}
            </div>
            <div class="cb"></div>
        </div>
    </section>

    <div class="center">
        <div class="wrapper">
            <section id="rside">
                {% if not user.id %}
                    <div class="side-block">
                        <header>
                            <i class="fa fa-user"></i> Войти с помощью
                        </header>
                        <div class="side-block-body">
                            <div class="ulogin">
                                {{ ulogin.panel|raw }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="side-block">
                        <header>
                            <img src="{{ group.icon }}" alt="{{ group.name }}" title="{{ group.name }}"/> {{ user.username }}
                            <span title="Рейтинг" class="rating{% if user.rating < 0 %} neg{% endif %}">{{ user.rating }}</span>
                        </header>
                        <div class="side-block-body">
                            <div class="avatar">
                                <a href="/user/avatar/">
                                    {% if user.avatar %}
                                        <img src="{{ user.avatar }}" alt="{{ user.username }}"/>
                                    {% else %}
                                        <img src="{{ user|grava(160) }}" alt="{{ user.username }}"/>
                                    {% endif %}
                                </a>
                                <p>{{ group.name }}</p>
                            </div>
                            <ul>
                                {% if group.can('publicate') %}
                                <li>
                                    <a href="/post/new/">
                                        <i class="fa fa-pencil"></i> Написать
                                    </a>
                                </li>
                                <li>
                                    <a href="/post/my/">
                                        <i class="fa fa-file"></i> Мои публикации
                                        <span class="badge">{{ user_publications }}</span>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="/user/exit/">
                                        <i class="fa fa-close"></i> Выход
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="side-block">
                    <header>
                        <i class="fa fa-cubes"></i> Лаборатория
                    </header>
                    <div class="side-block-body">
                        <ul>
                            {% for category in post_categories %}
                                <li>
                                    <a href="{{ category.link }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            <section id="container">
                {% block body %}{% endblock %}
            </section>
        </div>
    </div>

    <footer class="main-footer">
        <div class="center">
            &reg; Разработано <a href="http://www.nanolab.pw">www.nanolab.pw</a> в {{ 'now'|date('Y') }} г.
        </div>
    </footer>
    {{ counter.invisible|raw }}
    {{ counter.ga|raw }}
</body>
</html>