<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">
    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery') }}"></script>
</head>
<body>
    <section id="navigation">
        <div id="logo">NanoLab</div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>
            <li>
                <a href="https://github.com/Max201/nanocore">Github</a>
            </li>
        </ul>

        <div class="cb"></div>
    </section>

    <section id="container">
        <h1>{% block header %}{{ title }}{% endblock %}</h1>
        {% block body %}{% endblock %}
    </section>
</body>
</html>