<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">
    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery') }}"></script>
</head>
<body>
    <section id="navigation">
        <div class="wrap center">
            <div id="logo">
                <img src="{{ 'nanolab.png'|local('img') }}" alt="NanoLab Logo">
                <strong>Nano Lab</strong>
            </div>

            <div id="search-box">
                <form method="post">
                    <label for="story"><i class="fa fa-chevron-right"></i></label>
                    <input type="text" id="story" name="story" value="" placeholder="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <span id="close-header" onclick="$('#navigation, html, body').toggleClass('open')">
                <i class="fa fa-close"></i>
            </span>

            <div class="cb"></div>
        </div>
    </section>

    <div class="center">
        <h1 id="title">
            <span class="login" onclick="$('#navigation, html, body').toggleClass('open')">
                <i class="fa fa-user"></i> {% if user.id %}{{ user.username }}{% else %}Гость{% endif %}
            </span>
            <i class="fa fa-chevron-right"></i>
            {% block header %}{% if header %}{{ header }}{% else %}{{ title }}{% endif %}{% endblock %}
        </h1>

        <div class="wrapper">
            <section id="rside">
                <div class="side-block">
                    <header>
                        <i class="fa fa-cubes"></i> Лаборатория
                    </header>
                    <div class="side-block-body">
                        <ul>
                            {% for category in post_categories %}
                                <li>
                                    <a href="{{ category.link }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            <section id="container">
                {% block body %}{% endblock %}
            </section>
        </div>
    </div>
</body>
</html>