<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title_prefix }}{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'font-awesome.min.css'|cdn('fontawesome') }}" type="text/css">
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}" type="text/css">
    <script type="text/javascript" src="{{ 'jquery.min.js'|cdn('jquery') }}"></script>
</head>
<body>
    <section id="navigation">
        <div class="wrap center">
            <div id="logo">
                <img src="{{ 'nanolab.png'|local('img') }}" alt="NanoLab Logo">
                <strong>Nano Lab</strong>
            </div>
            <div class="menu">
                <a href="/user/auth/">Login</a>
                <a href="/user/new/">Register</a>
            </div>
            <div class="cb"></div>
        </div>
    </section>

    <div class="center">
        <div id="head">
            <h1>
                <i class="fa fa-chevron-right"></i>
                {% block header %}{% if header %}{{ header }}{% else %}{{ title }}{% endif %}{% endblock %}
            </h1>
        </div>

        <div class="wrapper">
            <section id="rside">
                <div class="side-block">
                    <header>
                        <i class="fa fa-cubes"></i> Лаборатория
                    </header>
                    <div class="side-block-body">
                        <ul>
                            {% for category in post_categories %}
                                <li>
                                    <a href="{{ category.link }}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            <section id="container">
                {% block body %}{% endblock %}
            </section>
        </div>
    </div>
</body>
</html>