{% extends '@admin/base.twig' %}

{% block body %}
    <menu>
        <a href="{{ 'users'|url }}" class="item">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item active">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'groups.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.group.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>

    <table>
        <thead>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'user.group.title'|lang }}</td>
                <td class="x3">{{ 'user.group.icon'|lang }}</td>
                <td class="x3">{{ 'user.group.admin'|lang }}</td>
                <td class="x5">{{ 'user.count'|lang }}</td>
            </tr>
        </thead>
        <tbody>
        {% for group in groups_list %}
            <tr>
                <td class="primary" onclick="gui.go('{{ 'groups.profile'|url(group.id) }}')">#{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>undefined</td>
                <td>
                    {% if group.use_admin %}
                        <span class="fa fa-check"></span>
                        {{ 'button.opened'|lang }}
                    {% else %}
                        <span class="fa fa-times"></span>
                        {{ 'button.closed'|lang }}
                    {% endif %}
                </td>
                <td>{{ group.users }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'user.group.title'|lang }}</td>
                <td>{{ 'user.group.icon'|lang }}</td>
                <td class="x3">{{ 'user.group.admin'|lang }}</td>
                <td>{{ 'user.count'|lang }}</td>
            </tr>
        </tfoot>
    </table>

    <menu>
        <a href="{{ 'users'|url }}" class="item">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item active">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'groups.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.group.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>
{% endblock %}
