{% extends '@admin/base.twig' %}
{% block head %}
    <script type="text/javascript" src="{{ 'users.js'|local('js') }}"></script>
{% endblock %}

{% block body %}
    <menu>
        <a href="{{ 'groups'|url }}" class="item">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>

        <nav class="right">
            <a href="javascript:void(0);" onclick="updateGroup('{{ group.id }}', 'table.edit');" class="item">
                <i class="fa fa-save"></i> {{ 'button.save'|lang }}
            </a>
        </nav>
    </menu>

    <div class="message" id="save" style="display: none;"></div>

    <table class="edit">
        <thead>
            <tr>
                <td class="x3">{{ title }}</td>
                <td>#{{ group.id }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'user.group.title'|lang }}</td>
                <td><input type="text" value="{{ group.name }}" name="name"/></td>
            </tr>
            <tr>
                <td>{{ 'user.group.icon'|lang }}</td>
                <td><input type="text" value="{{ group.icon }}" name="icon"/></td>
            </tr>
            <tr>
                <td>{{ 'user.move'|lang }}</td>
                <td>
                    <span class="cselect">
                        <select name="new_group" id="new_group" data-width="200">
                            {% for g in groups %}
                                <option {% if group.id == g.id %}selected="selected" {% endif %}value="{{ g.id }}">{{ g.name }}</option>
                            {% endfor %}
                        </select>
                    </span>
                    <a href="{{ 'users'|url }}?group={{ group.id }}">{{ 'user.count'|lang }}: {{ group.users }}</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="edit">
        <thead>
            <tr>
                <td class="x3">{{ 'user.group.permissions'|lang }}</td>
                <td>{{ 'user.group.allowed'|lang }}</td>
            </tr>
        </thead>
        <tbody>
            {% for perm in perms|keys %}
            <tr>
                <td>{{ ('group.' ~ perm)|lang }}</td>
                <td>
                    <input type="checkbox" name="perm_{{ perm }}" value="1" {% if perms[perm] %}checked="checked"{% else %}{% endif %}/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}