{% extends '@admin/base.twig' %}

{% block body %}
    <menu>
        <a href="{{ 'users'|url }}" class="item active">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'users.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>

    <table>
        <thead>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'user.profile.username'|lang }}</td>
                <td>{{ 'user.profile.email'|lang }}</td>
                <td>{{ 'user.profile.register_date'|lang }}</td>
                <td>{{ 'user.profile.last_visit'|lang }}</td>
                <td>{{ 'user.profile.group'|lang }}</td>
            </tr>
        </thead>
        <tbody>
        {% for profile in users_list %}
            <tr>
                <td class="primary" onclick="gui.go('{{ 'users.profile'|url(profile.id) }}')">#{{ profile.id }}</td>
                <td>{{ profile.username }}</td>
                <td>
                    {% if not profile.confirm_code %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-times"></span>
                    {% endif %}

                    {% if profile.email %}
                        {{ profile.email }}
                    {% else %}
                        Undefined
                    {% endif %}
                </td>
                <td>{{ profile.register_date|tz|dlang }}</td>
                <td>{{ profile.last_visit|tz|dlang }}</td>
                <td>{{ profile.group.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'user.profile.username'|lang }}</td>
                <td>{{ 'user.profile.email'|lang }}</td>
                <td>{{ 'user.profile.register_date'|lang }}</td>
                <td>{{ 'user.profile.last_visit'|lang }}</td>
                <td>{{ 'user.profile.group'|lang }}</td>
            </tr>
        </tfoot>
    </table>

    <menu>
        <a href="{{ 'users'|url }}" class="item active">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'users.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>
{% endblock %}
