{% extends '@admin/base.twig' %}

{% block body %}
    <menu>
        <a href="{{ 'users'|url }}" class="item active">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'users.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>

    <table>
        <thead>
            <tr>
                <td onclick="gui.uri({'order': gui.order_toggle('id')})" class="primary">ID <i class="fa {{ 'id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('username')})">{{ 'user.profile.username'|lang }} <i class="fa {{ 'username'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('email')})">{{ 'user.profile.email'|lang }} <i class="fa {{ 'email'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('register_date')})">{{ 'user.profile.register_date'|lang }} <i class="fa {{ 'register_date'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('last_visit')})">{{ 'user.profile.last_visit'|lang }} <i class="fa {{ 'last_visit'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('group_id')})">{{ 'user.profile.group'|lang }} <i class="fa {{ 'group_id'|ord }}"></i></td>
            </tr>
        </thead>
        <tbody>
        {% if not users_list %}
            <tr>
                <td colspan="6" class="message">
                    <div>{{ 'form.empty'|lang }}</div>
                </td>
            </tr>
        {% endif %}
        {% for profile in users_list %}
            <tr>
                <td class="primary" onclick="gui.go('{{ 'users.profile'|url(profile.id) }}')">#{{ profile.id }}</td>
                <td>{{ profile.username }}</td>
                <td>
                    {% if not profile.confirm_code %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-times"></span>
                    {% endif %}

                    {% if profile.email %}
                        {{ profile.email }}
                    {% else %}
                        Undefined
                    {% endif %}
                </td>
                <td>{{ profile.register_date|tz|dlang }}</td>
                <td>{{ profile.last_visit|tz|dlang }}</td>
                <td onclick="gui.uri({'group': '{{ profile.group.id }}'})">{{ profile.group.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td onclick="gui.uri({'order': gui.order_toggle('id')})" class="primary">ID <i class="fa {{ 'id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('username')})">{{ 'user.profile.username'|lang }} <i class="fa {{ 'username'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('email')})">{{ 'user.profile.email'|lang }} <i class="fa {{ 'email'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('register_date')})">{{ 'user.profile.register_date'|lang }} <i class="fa {{ 'register_date'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('last_visit')})">{{ 'user.profile.last_visit'|lang }} <i class="fa {{ 'last_visit'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('group_id')})">{{ 'user.profile.group'|lang }} <i class="fa {{ 'group_id'|ord }}"></i></td>
            </tr>
        </tfoot>
    </table>

    <menu>
        <a href="{{ 'users'|url }}" class="item active">{{ 'user.list'|lang }}</a>
        <a href="{{ 'groups'|url }}" class="item">{{ 'user.group.list'|lang }}</a>
        <a href="{{ 'users.create'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'user.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>
{% endblock %}
