<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% if title %}{{ title }}{% else %}Untitled{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}"/>
    <script type="text/javascript" src="{{ 'jquery.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'webgui.js'|local('js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('[name="login"]').on('click', function(){
                $.post(
                    document.location,
                    {
                        'username': $('#username').val(),
                        'password': $('#password').val()
                    },
                    function(r){
                        if (r.status) {
                            document.location = '/admin/';
                        } else {
                            $('#response').slideDown().text('{{ translate.e('users.login.failed') }}');
                        }
                    }
                )
            });
        });
    </script>
</head>
<body>
<section id="wrapper">
    <section id="main-menu">
        <a href="/admin/login/" id="logo">
            Nano Core
        </a>
    </section>

    <section id="container">
        <!--Content box-->
        <main class="content-wrapper wrapped">
            <section id="content">
                <header>
                    {% block header %}{% if header %}{{ header }}{% else %}{{ title }}{% endif %}{% endblock %}
                </header>
                {% block body %}
                    <form method="post" action="/admin/login/" onsubmit="return false;" class="form">
                        <div id="response" class="response"></div>
                        <label for="username">
                            <span class="title">Username</span>
                            <input type="text" id="username" name="username"/>
                        </label>
                        <label for="password">
                            <span class="title">Password</span>
                            <input type="text" id="password" name="password"/>
                        </label>
                        <footer>
                            <input class="button" type="submit" name="login"/>
                        </footer>
                    </form>
                {% endblock %}
            </section>
        </main>
    </section>
</section>
</body>
</html>