<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ 'user.auth.title'|lang }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png'|asset('icon') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'android-icon-192x192.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png'|asset('icon') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'|asset('icon') }}">
    <link rel="manifest" href="{{ 'manifest.json'|asset('icon') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ms-icon-144x144.png'|asset('icon') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'custom.css'|local('css') }}"/>
    <script type="text/javascript" src="{{ 'jquery.js'|local('js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ 'webgui.js'|local('js') }}"></script>
    <script type="text/javascript">
        $(function(){
            // Update captcha
            $('#code').on('click', function(){
                $(this).attr('src', '{{ secure_image }}?r=' + Math.random());
            });
        });

        auth = function() {
            $.post(
                document.location,
                {
                    'username': $('#username').val(),
                    'password': $('#password').val(),
                    'captcha': $('#captcha').val()
                },
                function(r){
                    if (r.status) {
                        document.location = '/admin/';
                    } else {
                        $('#response').slideDown(100).text('{{ 'user.auth.failed'|lang }}');

                        setTimeout(function(){
                            $('#response').slideToggle(100);
                        }, 2000);
                    }
                }
            );

            return false;
        }
    </script>
</head>
<body>
<section id="wrapper">
    <section id="main-menu">
        <a href="/admin/login/" id="logo">
            <img src="{{ 'core.png'|local('img') }}" alt="NanoLab"/> Nano Core
        </a>
    </section>

    <section id="container">
        <!--Content box-->
        <main class="content-wrapper wrapped">
            <section id="content" class="login-page">
                <header class="login-page">
                    {{ 'user.auth.title'|lang }}
                </header>
                <form method="post" onsubmit="return auth();" class="form login-form">
                    <img src="{{ 'secure.png'|local('img') }}" alt="Secure Panel"/>
                    <div id="response" class="message error"></div>
                    <label for="username">
                        <input type="text" id="username" name="username" placeholder="{{ 'user.profile.username'|lang }}"/>
                    </label>
                    <label for="password">
                        <input type="password" id="password" name="password" placeholder="{{ 'user.profile.password'|lang }}"/>
                    </label>
                    <label for="captcha">
                        <input type="text" id="captcha" name="captcha" placeholder="{{ 'user.auth.code'|lang }}"/>
                        <span class="captcha"><img id="code" src="{{ secure_image }}" alt="KCaptcha"/></span>
                    </label>
                    <footer>
                        <input class="button" type="submit" value="{{ 'user.auth.login'|lang }}" name="login"/>
                    </footer>
                </form>
            </section>
        </main>
    </section>
</section>
</body>
</html>