{% extends '@admin/base.twig' %}
{% block head %}
    <script type="text/javascript" src="{{ 'users.js'|local('js') }}"></script>
{% endblock %}

{% block body %}
    <menu>
        <a href="{{ 'users'|url }}" class="item">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>

        <nav class="right">
            <a href="javascript:void(0);" onclick="$('.form').hide();$('.form.edit').show();" class="item">
                <i class="fa fa-edit"></i> {{ 'user.edit.title'|lang }}
            </a>
            {% if profile.id != user.id %}
                <a href="javascript:void(0);" onclick="$('.form').hide();$('.form.ban').show();" class="item">
                    <i class="fa fa-lock"></i> {{ 'user.ban.title'|lang }}
                </a>
            {% endif %}
            <a href="javascript:void(0);" onclick="$('.form').hide();$('.form.change-password').show();" class="item">
                <i class="fa fa-shield"></i> {{ 'user.edit.password'|lang }}
            </a>
        </nav>
    </menu>

    <table>
        <thead>
            <tr>
                <td class="x3">{{ title }}</td>
                <td>#{{ profile.id }}</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'user.profile.username'|lang }}</td>
                <td>{{ profile.username }}</td>
            </tr>
            <tr>
                <td>{{ 'user.profile.group'|lang }}</td>
                <td><a href="{{ 'groups.profile'|url(profile.group.id) }}">{{ profile.group.name }}</a></td>
            </tr>
            <tr>
                <td>{{ 'user.profile.email'|lang }}</td>
                <td>
                    {% if not profile.confirm_code %}
                        <span class="fa fa-check"></span>
                    {% else %}
                        <span class="fa fa-times"></span>
                    {% endif %}

                    {% if profile.email %}
                        {{ profile.email }}
                    {% else %}
                        Undefined
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'user.profile.last_visit'|lang }}</td>
                <td>{{ profile.last_visit|tz|dlang }}</td>
            </tr>
            <tr>
                <td>{{ 'user.profile.register_date'|lang }}</td>
                <td>{{ profile.register_date|tz|dlang }}</td>
            </tr>

            {% if profile.banned %}
                <tr>
                    <td><strong>{{ 'user.ban.author'|lang }}</strong></td>
                    <td>
                        {{ profile.ban_user.group.name }}
                        <a href="{{ 'users.profile'|url(profile.ban_user.id) }}">{{ profile.ban_user.username }}</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'user.ban.to'|lang }}</strong></td>
                    <td>{{ profile.ban_time|tz|dlang }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'user.ban.reason'|lang }}</strong></td>
                    <td>{% if profile.ban_reason %}{{ profile.ban_reason }}{% else %}{{ 'user.ban.reason_unknown'|lang }}{% endif %}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <form class="form edit" action="" style="display: none;">
        <header>{{ 'user.edit.title'|lang }}</header>
        <div id="edit" class="message" style="display: none;"></div>
        <label for="username">
            <span class="title">{{ 'user.profile.username'|lang }}</span>
            <input id="username" name="username" type="text" value="{{ profile.username }}"/>
        </label>
        <label for="email">
            <span class="title">{{ 'user.profile.email'|lang }}</span>
            <input id="email" name="email" type="text" value="{{ profile.email }}"/>
        </label>
        {% if profile.id != user.id %}
        <label for="group">
            <span class="title">{{ 'user.profile.group'|lang }}</span>
            <span class="cselect">
                <select name="group" id="group" data-width="200">
                    {% for group in groups %}
                        <option {% if group.id == profile.group.id %}selected="selected" {% endif %}value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </span>
        </label>
        {% endif %}
        <footer>
            <input class="button" type="button" onclick="editUser('{{ profile.id }}', $('#email').val(), $('#username').val(), $('#group').val())" id="edit" value="Сохранить"/>
        </footer>
    </form>

    <form class="form change-password" style="display: none;">
        <header>{{ 'user.edit.password'|lang }}</header>
        <div id="change-password" class="message" style="display: none;"></div>
        <label for="password">
            <span class="title">{{ 'user.profile.new_password'|lang }}</span>
            <input id="password" name="password" type="text" value=""/>
        </label>
        <footer>
            <input class="button" type="button" onclick="$('#password').val(gui.randomString(8))" value="{{ 'user.edit.generate_password'|lang }}"/>
            <input class="button" type="button" onclick="changePassword('{{ profile.id }}', $('#password').val())" value="{{ 'button.save'|lang }}"/>
        </footer>
    </form>

    <form class="form ban" style="display: none;">
        <header>{{ 'user.ban.title'|lang }}</header>
        <div id="ban" class="message" style="display: none;"></div>
        <label for="ban_time">
            <span class="title">{{ 'user.ban.time'|lang }}</span>
            <input id="ban_time" name="ban_time" type="text" value="+24 hours"/>
        </label>
        <label for="ban_reason">
            <span class="title">{{ 'user.ban.reason'|lang }}</span>
            <input id="ban_reason" name="ban_reason" type="text" value="{% if profile.ban_reason %}{{ profile.ban_reason }}{% else %}{{ 'user.ban.reason_unknown'|lang }}{% endif %}"/>
        </label>
        <footer>
            <input class="button" type="button" id="edit" onclick="banUser('{{ profile.id }}', $('#ban_time').val(), $('#ban_reason').val())" value="{{ 'button.save'|lang }}"/>
        </footer>
    </form>
{% endblock %}