{% extends 'base.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <td>{{ 'admin.service.name'|lang }}</td>
                <td>{{ 'admin.service.author'|lang }}</td>
                <td>{{ 'admin.service.version'|lang }}</td>
                <td>{{ 'admin.service.website'|lang }}</td>
            </tr>
        </thead>
        <tbody>
        {% if not services %}
            <tr>
                <td colspan="4" class="message">
                    <div>{{ 'form.empty'|lang }}</div>
                </td>
            </tr>
        {% endif %}

        {% for service in services|keys %}
            <tr>
                <td>
                    <strong>
                        {% if services[service].name %}
                            {{ services[service].name }}
                        {% else %}
                            {{ service }}
                        {% endif %}
                    </strong>
                </td>
                <td>
                    {% if services[service].author %}
                        {{ services[service].author }}
                    {% else %}
                        <span>Unknown</span>
                    {% endif %}
                </td>
                <td>
                    {% if services[service].version %}
                    v{{ services[service].version }}
                    {% else %}
                    <span>Unknown</span>
                    {% endif %}
                </td>
                <td>
                    {% if services[service].website %}
                    <a href="http://{{ services[service].website }}" target="_blank">{{ services[service].website }}</a>
                    {% else %}
                    <span>Unknown</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>{{ 'admin.service.name'|lang }}</td>
                <td>{{ 'admin.service.author'|lang }}</td>
                <td>{{ 'admin.service.version'|lang }}</td>
                <td>{{ 'admin.service.website'|lang }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
