{% extends 'base.twig' %}
{% block body %}
    <div>
        {% if message %}
            <div class="message {{ status }}">  {{ message }}</div>
        {% endif %}
        <form action="" method="post" class="form">
            <label for="title_prefix">
                <span class="title">{{ 'admin.config.title_prefix'|lang }}</span>
                <input type="text" id="title_prefix" name="title_prefix" value="{{ conf.title_prefix }}"/>
            </label>

            <label for="lang" class="cselect">
                <span class="title">{{ 'admin.config.lang'|lang }}</span>
                <select name="lang" id="lang" data-width="200">
                    {% for option in langs %}
                        <option{% if option == conf.lang %} selected="selected"{% endif %} value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </label>

            <label for="users_group" class="cselect">
                <span class="title">{{ 'admin.config.users_group'|lang }}</span>
                <select name="users_group" id="users_group" data-width="200">
                    {% for group in groups %}
                        <option{% if group.id == conf.users_group %} selected="selected"{% endif %} value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </label>

            <label for="theme" class="cselect">
                <span class="title">{{ 'admin.config.theme'|lang }}</span>
                <select name="theme" id="theme" data-width="200">
                    {% for option in themes %}
                        <option{% if option == conf.theme %} selected="selected"{% endif %} value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </label>

            <label for="home">
                <span class="title">{{ 'admin.config.home'|lang }} <strong>http://{{ home }}</strong></span>
                <input type="text" id="home" name="home" value="{{ conf.home }}"/>
            </label>

            <label for="timezone">
                <span class="title">{{ 'admin.config.date_fix'|lang }} <small>Server: {{ 'now'|tz|dlang }}</small></span>
                <input type="text" id="timezone" name="timezone" value="{{ conf.timezone }}"/>
            </label>

            <label for="format">
                <span class="title">{{ 'admin.config.date_format'|lang }}</span>
                <input type="text" id="format" name="format" value="{{ conf.format }}"/>
            </label>

            <footer>
                <input class="button" type="submit" id="save" value="{{ 'button.save'|lang }}"/>
            </footer>
        </form>
    </div>
{% endblock %}