{% extends 'base.twig' %}
{% block body %}
    <div>
        <menu>
            <a href="{{ 'smp'|url }}" class="item active">
                <i class="fa fa-bullhorn"></i>
                {{ 'admin.smp.title'|lang }}
            </a>
            <nav class="right">
            </nav>
        </menu>

        <table>
            <thead>
                <tr>
                    <td class="primary">ID</td>
                    <td>{{ 'admin.smp.service'|lang }}</td>
                </tr>
            </thead>
            <tbody>
            {% for soc in socials %}
                <tr>
                    <td class="primary" onclick="gui.go('?soc={{ soc.id }}')"><i class="fa fa-{{ soc.icon }}"></i></td>
                    <td onclick="gui.go('?soc={{ soc.id }}')">{{ soc.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="primary">ID</td>
                    <td>{{ 'admin.smp.service'|lang }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}