<header>Комментарии</header>

{% if status.success %}
    <div class="message success">{{ status.message }}</div>
{% endif %}

<!-- Comment Form -->
{% if group.can('comment') %}
    <table class="comment">
        <tr>
            <td class="photo">
                <img src="{{ user|avatar }}" alt="{{ user.username }}"/>
            </td>
            <td class="comment-body">
                <textarea onkeydown="comments.post(this, '{{ com }}')" id="comment-0" name="comment" rows="2" cols="97"></textarea>
            </td>
        </tr>

        <tr class="options">
            <td colspan="2">
                <small style="color: #888;padding: 0 20px" class="fleft hide-sm">
                    Для быстрой отправки можно воспользоваться комбинацией Ctrl+Enter
                </small>
                <span class="btn sm" onclick="comments.postEnter($('#comment-0'), '{{ com }}')">
                    <i class="fa fa-pencil"></i>
                    Написать
                </span>
            </td>
        </tr>
    </table>

    {% if not comments %}
        <div class="message info center">Нет комментариев <br/> Ваш будет первым</div>
    {% endif %}
{% else %}
    <br>
    <div class="message info">
        Вам запрещено комментировать публикации. Необходимо <a target="_blank" href="/user/auth/">войти</a> или <a target="_blank" href="/user/new/">зарегистрироваться</a>.
    </div>
{% endif %}

<!-- Comments list -->
{% for comment in comments %}
    <table class="comment">
        <tr>
            <td class="photo">
                <img src="{{ comment.author|avatar }}" alt="{{ comment.author.username }}"/>
            </td>
            <td class="comment-body">
                <div class="author">
                    {% if group.can('comment') %}
                        <a href="#com-{{ comment.id }}" onclick="$('#answer-{{ comment.id }}').toggle(100);">
                            <img class="group-icon" src="{{ comment.author.group.icon }}" alt="{{ comment.author.group.name }}" title="{{ comment.author.group.name }}"/>
                            {{ comment.author.username }}
                        </a>
                        <span class="date">написал(а) {{ comment.created_at|tz|dlang }}</span>
                    {% else %}
                        <i class="fa fa-user"></i> {{ comment.author.username }}
                    {% endif %}

                    <div class="votes fright">
                        <span onclick="likes.plus('comment{{ comment.id }}', '#comment-{{ comment.id }}')" class="fa fa-thumbs-up"></span>
                        <span class="counter" id="comment-{{ comment.id }}">{{ ('comment' ~ comment.id)|likes_count }}</span>
                        <span onclick="likes.minus('comment{{ comment.id }}', '#comment-{{ comment.id }}')" class="fa fa-thumbs-down"></span>
                    </div>
                </div>

                {{ comment.body }}
            </td>
        </tr>

        {% if group.can('use_admin') or group.can('edit_comments') %}
        <tr class="options">
            <td colspan="2">
                {% if group.can('use_admin') %}
                <a class="btn sm" target="_blank" href="/control/user/profile/{{ comment.author.id }}">
                    <i class="fa fa-user"></i>
                    Профиль пользователя {{ comment.author.username }}
                </a>
                {% endif %}

                {% if group.can('edit_comments') %}
                <a class="btn sm" href="javascript:void(0);" onclick="comments.delete('{{ comment.id }}')">
                    <i class="fa fa-trash"></i>
                    Удалить
                </a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>


    {% for sub in comment.id|comments(10, 1) %}
        <table class="comment answer">
            <tr>
                <td class="photo">
                    <img src="{{ sub.author|avatar }}" alt="{{ sub.author.username }}"/>
                </td>
                <td class="comment-body">
                    <div class="author">
                        {% if group.can('comment') %}
                            <a href="#com-{{ sub.id }}" onclick="$('#answer-{{ comment.id }}').toggle(100);">
                                <img class="group-icon" src="{{ sub.author.group.icon }}" alt="{{ sub.author.group.name }}" title="{{ sub.author.group.name }}"/>
                                {{ sub.author.username }}
                            </a>
                            <span class="date">написал(а) {{ sub.created_at|tz|dlang }}</span>
                        {% else %}
                            <i class="fa fa-user"></i> {{ sub.author.username }}
                        {% endif %}

                        <div class="votes fright">
                            <span onclick="likes.plus('comment{{ sub.id }}', '#comment-{{ sub.id }}')" class="fa fa-thumbs-up"></span>
                            <span class="counter" id="comment-{{ sub.id }}">{{ ('comment' ~ sub.id)|likes_count }}</span>
                            <span onclick="likes.minus('comment{{ sub.id }}', '#comment-{{ sub.id }}')" class="fa fa-thumbs-down"></span>
                        </div>
                    </div>

                    {{ sub.body }}
                </td>
            </tr>

            {% if group.can('use_admin') or group.can('edit_comments') %}
                <tr class="options">
                    <td colspan="2">
                        {% if group.can('use_admin') %}
                            <a class="btn sm" target="_blank" href="/control/user/profile/{{ sub.author.id }}">
                                <i class="fa fa-user"></i>
                                Профиль пользователя {{ sub.author.username }}
                            </a>
                        {% endif %}

                        {% if group.can('edit_comments') %}
                            <a class="btn sm" href="javascript:void(0);" onclick="comments.delete('{{ sub.id }}')">
                                <i class="fa fa-trash"></i>
                                Удалить
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </table>
    {% endfor %}

    <!-- Answer Form -->
    {% if group.can('comment') %}
        <table class="comment answer" id="answer-{{ comment.id }}" style="display: none;">
            <tr>
                <td class="photo">
                    <img src="{{ user|avatar }}" alt="{{ user.username }}"/>
                </td>
                <td class="comment-body">
                    <textarea onkeydown="comments.post(this, '{{ comment.id }}')" name="comment" rows="2" cols="97"></textarea>
                </td>
            </tr>
        </table>
    {% endif %}

    <br/>
{% endfor %}