<header class="comment-header">Комментарии</header>

{% if status.success %}
    <div class="message success">{{ status.message }}</div>
{% endif %}

<ul class="comments">
    {% if group.can('comment') %}
    <li class="comment form">
        {% if user.avatar %}
            <img src="{{ user.avatar }}" alt="{{ user.username }}"/>
        {% else %}
            <img src="{{ user|grava(160) }}" alt="{{ user.username }}"/>
        {% endif %}

        <textarea onkeydown="comments.post(this, '{{ com }}')" name="comment" id="com-body" rows="5" cols="97"></textarea>
    </li>
    {% else %}
        <div class="wall">
            Вам запрещено комментировать публикации. Необходимо <a target="_blank" href="/user/auth/">войти</a> или <a target="_blank" href="/user/new/">зарегистрироваться</a>.
        </div>
    {% endif %}
    {% for comment in comments %}
        <li class="comment{% if comment.id == status.success %} active{% endif %}" id="com-{{ comment.id }}">
            {% if comment.author.avatar %}
                <img src="{{ comment.author.avatar }}" alt="{{ comment.author.username }}"/>
            {% else %}
                <img src="{{ comment.author|grava(160) }}" alt="{{ comment.author.username }}"/>
            {% endif %}

            <div class="comment-item">
                <div class="author">{{ comment.author.username }}</div>
                <div class="body">
                    {{ comment.body }}
                </div>
                <div class="info">
                    <span class="date">{{ comment.created_at|tz|dlang }}</span>
                    {% if group.can('edit_comments') %}
                        <a href="javascript:void(0)" onclick="comments.delete('{{ comment.id }}')"><span class="delete">Удалить</span></a>
                    {% endif %}
                    {% if group.can('comment') %}
                        <a href="#com-{{ comment.id }}" onclick="$('#answer-{{ comment.id }}').toggle(100);"><span class="answer">Ответить</span></a>
                    {% endif %}
                </div>

                <ul class="comments">
                    {% for sub in comment.id|comments(10, 1) %}
                        <li class="comment sub{% if sub.id == sub.success %} active{% endif %}" id="com-{{ sub.id }}">
                            {% if sub.author.avatar %}
                                <img src="{{ sub.author.avatar }}" alt="{{ sub.author.username }}"/>
                            {% else %}
                                <img src="{{ sub.author|grava(160) }}" alt="{{ sub.author.username }}"/>
                            {% endif %}
                            <div class="author">{{ sub.author.username }}</div>
                            <div class="body">
                                {{ sub.body }}
                            </div>
                            <div class="info">
                                <span class="date">{{ sub.created_at|tz|dlang }}</span>
                                {% if group.can('edit_comments') %}
                                    <a href="javascript:void(0)" onclick="comments.delete('{{ sub.id }}')"><span class="delete">Удалить</span></a>
                                {% endif %}
                                {% if group.can('comment') %}
                                    <a href="#com-{{ comment.id }}" onclick="$('#answer-{{ comment.id }}').toggle(100);"><span class="answer">Ответить</span></a>
                                {% endif %}
                            </div>
                            <div class="cb"></div>
                        </li>
                    {% endfor %}
                    {% if group.can('comment') %}
                    <li style="display: none;" class="comment sub form" id="answer-{{ comment.id }}">
                        {% if user.avatar %}
                            <img src="{{ user.avatar }}" alt="{{ user.username }}"/>
                        {% else %}
                            <img src="{{ user|grava(160) }}" alt="{{ user.username }}"/>
                        {% endif %}

                        <textarea onkeydown="comments.post(this, '{{ comment.id }}')" name="comment" id="com-body" rows="5" cols="86"></textarea>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="cb"></div>
        </li>
    {% endfor %}
</ul>