{% extends 'base.twig' %}
{% block head %}
    <script type="text/javascript">
        function submit()
        {
            var data = {
                'content': tinyMCE.get('edit').getContent(),
                'title': $('#title').val(),
                'template': $('#template').val(),
                'slug': $('#slug').val()
            };

            $.post('{{ 'page.new'|url }}?id={{ page.id }}', data, function(r){
                $('.message').text(r.message).slideDown();
                gui.go('{{ 'list'|url }}', 2);
            });
        }

        function remove_page()
        {
            var data = {
                'remove': '{{ page.id }}'
            };

            $.post('{{ 'page.edit'|url }}', data, function(r){
                console.log(r);
            });
        }
    </script>
{% endblock %}
{% block body %}
    <menu>
        <a class="item" href="{{ 'list'|url }}">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>
        {% if page.id %}
            <a class="item" href="{{ 'list'|url }}?delete={{ page.id }}">
                <i class="fa fa-trash"></i>
                {{ 'button.delete'|lang }}
            </a>
            <a class="item" href="/page/{{ page.id }}-{{ page.slug }}.html" target="_blank">
                <i class="fa fa-eye"></i>
                {{ 'page.view'|lang }}
            </a>
        {% endif %}

        <nav class="right">
            <a class="item" href="#" onclick="submit();">
                <i class="fa fa-save"></i>
                {{ 'button.save'|lang }}
            </a>
        </nav>
    </menu>

    <div class="message success" style="display: none;"></div>

    <div class="form">
        <label for="title" class="x50">
            <input data-url-for="#slug" placeholder="{{ 'page.title'|lang }}" title="{{ 'page.title'|lang }}" class="wide x50" type="text" value="{{ page.title }}" id="title"/>
        </label>
        <label for="template" class="x50 cselect">
            <select name="template" id="template" data-width="473">
                {% for tpl in templates %}
                    <option value="{{ tpl }}"{% if tpl == page.template %} selected{% endif %}>{{ tpl }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="form">
        <label for="slug">
            <input placeholder="{{ 'page.slug'|lang }}" title="{{ 'page.slug'|lang }}" class="wide" type="text" value="{{ page.slug }}" id="slug"/>
        </label>
    </div>

    {% set wyid='edit' %}
    {% set edit_content=page.content %}
    {% include 'com/wysiwyg.twig' %}
{% endblock %}
