{% extends 'base.twig' %}
{% block head %}
    <script type="text/javascript" src="{{ 'editor.js'|local('js') }}"></script>
    <script type="text/javascript">
        function submit()
        {
            var data = {
                'content': content.content(),
                'title': title.content(),
                'slug': $('#slug').val()
            };

            $.post('{{ 'page.new'|url }}?id={{ page.id }}', data, function(r){
            });
        }

        $(function(){
            title = new WyEdit($('#title'));
            content = new WyEdit($('#wy-edit'));
        });
    </script>
{% endblock %}
{% block body %}
    <menu>
        <a class="item" href="{{ 'list'|url }}">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>

        <nav class="right">
            <a class="item" href="#" onclick="submit();">
                <i class="fa fa-save"></i>
                {{ 'button.save'|lang }}
            </a>
        </nav>
    </menu>

    <h1 id="title" onblur="if ($(this).text().trim().length < 1) $(this).text('{{ 'page.name'|lang }}');">
        {{ page.title|raw }}
    </h1>

    <div class="form">
        <label for="slug">
            <span class="title">{{ 'page.slug'|lang }}</span>
            <input type="text" value="{{ page.slug }}" id="slug"/>
        </label>
    </div>

    {% set wyi='content' %}
    {% set content=page.content %}
    {% include 'com/editor.twig' %}
{% endblock %}
