{% extends 'base.twig' %}
{% block head %}
    <script src="{{ 'smp.js'|local('js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <div>
        <menu>
            <a href="{{ 'smp'|url }}" class="item">
                <i class="fa fa-arrow-left"></i>
                {{ 'admin.smp.title'|lang }}
            </a>
            <nav class="right">
            </nav>
        </menu>

        {% if message %}
        <div class="message {{ status }}">{{ message|raw }}</div>
        {% endif %}
        <form action="" method="post" class="form">
            <label for="id">
                <span class="title">{{ 'admin.smp.app_id'|lang }}</span>
                <input type="text" name="id" id="id" value="{{ network.data.id }}" placeholder="APP ID" />
            </label>
            <label for="secret">
                <span class="title">{{ 'admin.smp.api_secret'|lang }}</span>
                <input type="password" name="secret" id="secret" value="{{ network.data.secret }}" placeholder="API Secret" />
            </label>
            <label for="token">
                <span class="title">{{ 'admin.smp.token'|lang }}</span>
                <input type="password" name="token" id="token" value="{{ network.data.token }}" placeholder="API Access Token" />
            </label>

            <footer>
                <button type="submit" class="button">{{ 'button.save'|lang }}</button>
            </footer>
        </form>

        {% if auth_url %}
        <header>{{ 'admin.smp.connect'|lang }}</header>

        <div class="form">
            <label for="code">
                <span class="title">{{ 'admin.smp.vkcode'|lang }}</span>
                <input type="text" value="" onchange="document.location.href = '{{ 'smpp'|url('vk') }}?code=' + $(this).val();"/>
            </label>
            <label for="expires">
                <span class="title">{{ 'admin.smp.expires'|lang }}</span>
                <input type="text" disabled value="{% if network.data.expires == 0 %}---{% else %}{{ network.data.expires|tz|dlang }}{% endif %}"/>
            </label>
            <footer>
                <a class="button" href="javascript: void(0);" onclick="(new Smp()).vkcode('{{ auth_url }}');$(this).attr('onclick', '').addClass('disabled');">{{ 'button.authorize'|lang }}</a>
            </footer>
        </div>
        {% endif %}
    </div>
{% endblock %}