{% extends 'base.twig' %}
{% block head %}
    <script type="text/javascript">
        function submit(moderate)
        {
            moderate = moderate || '0';
            var data = {
                'content': tinyMCE.get('edit').getContent(),
                'title': $('#title').val(),
                'category': $('#category').val(),
                'keywords': $('#keywords').val(),
                'slug': $('#slug').val(),
                'moderate': moderate || '0'
            };

            $.post('{{ 'post.new'|url }}?id={{ post.id }}', data, function(r){
                $('.message').text(r.message).slideDown();
                if ( moderate == '0' ) {
                    gui.go('{{ 'list'|url }}', 2);
                } else {
                    gui.go('{{ 'list.moderation'|url }}', 2);
                }
            });
        }

        function remove_page()
        {
            var data = {
                'remove': '{{ post.id }}'
            };

            $.post('{{ 'post.edit'|url }}', data, function(r){
                console.log(r);
            });
        }
    </script>
{% endblock %}
{% block body %}
    <menu>
        <a class="item" href="{{ 'list'|url }}">
            <i class="fa fa-arrow-left"></i>
            {{ 'button.cancel'|lang }}
        </a>
        {% if post.id %}
            <a class="item" href="{{ 'list'|url }}?delete={{ post.id }}">
                <i class="fa fa-trash"></i>
                {{ 'button.delete'|lang }}
            </a>
            <a class="item" href="/post/{{ post.id }}-{{ post.slug }}.html" target="_blank">
                <i class="fa fa-eye"></i>
                {{ 'post.view'|lang }}
            </a>
        {% endif %}

        <nav class="right">
            <span class="preloader off"></span>
            <a class="item" href="#" onclick="submit('1');">
                <i class="fa fa-save"></i>
                {{ 'button.save'|lang }}
            </a>
            <a class="item" href="#" onclick="submit('0');">
                <i class="fa fa-file"></i>
                {{ 'post.publish'|lang }}
            </a>
        </nav>
    </menu>

    <div class="message success" style="display: none;"></div>

    <div class="form">
        <label for="title" class="x50">
            <input data-url-for="#slug" placeholder="{{ 'post.title'|lang }}" title="{{ 'post.title'|lang }}" class="wide" type="text" value="{{ post.title }}" id="title"/>
        </label>
        <label for="category" class="x50 cselect">
            <select name="category" id="category">
                {% for cat in categories %}
                    <option value="{{ cat.id }}"{% if cat.id == post.category.id %} selected{% endif %}>{{ cat.title }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="form">
        <label for="keywords">
            <input placeholder="{{ 'post.keywords'|lang }}" title="{{ 'post.keywords'|lang }}" class="wide" type="text" value="{{ post.keywords }}" id="keywords"/>
        </label>
        <label for="slug">
            <input placeholder="{{ 'post.slug'|lang }}" title="{{ 'post.slug'|lang }}" class="wide" type="text" value="{{ post.slug }}" id="slug"/>
        </label>
    </div>

    {% set wyid='edit' %}
    {% set edit_content=post.content %}
    {% include 'com/wysiwyg.twig' %}
{% endblock %}
