{% extends 'base.twig' %}
{% block head %}{% endblock %}
{% block body %}
    <menu>
        <a href="{{ 'list'|url }}" class="item">
            {{ 'post.list'|lang }}
        </a>
        <a href="{{ 'list.moderation'|url }}" class="item">
            {{ 'post.onmoderation'|lang }}
        </a>
        <a href="{{ 'list.categories'|url }}" class="item">
            {{ 'post.categories'|lang }}
        </a>
        <a href="{{ 'post.new'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'post.create'|lang }}
        </a>
        <a href="{{ 'post.import'|url }}" class="item active">
            <i class="fa fa-database"></i>
            {{ 'post.import'|lang }}
        </a>

        <nav class="right">
            <span class="preloader off"></span>
            <a class="item" href="#" onclick="gui.preloader.start();$('#yt-import').submit();">
                <i class="fa fa-arrow-down"></i>
                {{ 'post.import'|lang }}
            </a>
        </nav>
    </menu>

    {% if message %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}

    <form action="" method="post" class="form" id="yt-import">
        <label for="ytid">
            <span class="title">{{ 'post.youtube.channel_id'|lang }}:</span>
            <input type="text" name="channel" id="ytid" value="" placeholder="UC4rdGijkmGX-qo7tjstu-pA" />
        </label>
        <label for="category" class="cselect">
            <span class="title">{{ 'post.youtube.category'|lang }}:</span>
            <select name="category" id="category">
                {% for cat in categories %}
                    <option value="{{ cat.id }}"{% if cat.id == post.category.id %} selected{% endif %}>{{ cat.title }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            <span class="title">{{ 'post.youtube.template'|lang }}:</span>
            <a class="button" target="_blank" href="/admin/templates/edit/youtube.import.twig">
                <i class="fa fa-edit"></i>
                youtube.import.twig
            </a>
        </label>
    </form>
{% endblock %}
