{% extends 'base.twig' %}

{% block body %}
    <menu>
        <a href="{{ 'post.new'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'post.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>

    {% if message %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'post.name'|lang }}</td>
                <td>{{ 'post.slug'|lang }}</td>
                <td>{{ 'post.author'|lang }}</td>
                <td>{{ 'post.created'|lang }}</td>
                <td>{{ 'post.updated'|lang }}</td>
                <td>{{ 'button.delete'|lang }}</td>
            </tr>
        </thead>
        <tbody>
        {% if not posts_list %}
            <tr>
                <td colspan="7" class="message">
                    <div>{{ 'form.empty'|lang }}</div>
                </td>
            </tr>
        {% endif %}
        {% for post in posts_list %}
            <tr>
                <td onclick="gui.go('{{ 'post.edit'|url(post.id) }}')" class="primary">#{{ post.id }}</td>
                <td onclick="gui.go('/post/{{ post.id }}-{{ post.slug }}.html')">{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.created_at|tz|dlang }}</td>
                <td>{{ post.updated_at|tz|dlang }}</td>
                <td onclick="gui.go('?delete={{ post.id }}')">
                    <span class="button">
                        <i class="fa fa-trash"></i> {{ 'button.delete'|lang }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="primary">ID</td>
                <td>{{ 'post.name'|lang }}</td>
                <td>{{ 'post.slug'|lang }}</td>
                <td>{{ 'post.author'|lang }}</td>
                <td>{{ 'post.created'|lang }}</td>
                <td>{{ 'post.updated'|lang }}</td>
                <td>{{ 'button.delete'|lang }}</td>
            </tr>
        </tfoot>
    </table>

    <menu>
        <a href="{{ 'post.new'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'post.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>
{% endblock %}
