{% extends 'base.twig' %}

{% block body %}
    <menu>
        <a href="{{ 'list'|url }}" class="item{% if not moderate %} active{% endif %}">
            {{ 'post.list'|lang }}
        </a>
        <a href="{{ 'list.moderation'|url }}" class="item{% if moderate %} active{% endif %}">
            {{ 'post.onmoderation'|lang }}
        </a>
        <a href="{{ 'list.categories'|url }}" class="item">
            {{ 'post.categories'|lang }}
        </a>
        <a href="{{ 'post.new'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'post.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>

    {% if message %}
        <div class="message">
            {{ message }}
        </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <td onclick="gui.uri({'order': gui.order_toggle('id')})" class="primary">ID <i class="fa {{ 'id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('title')})">{{ 'post.name'|lang }} <i class="fa {{ 'title'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('views')})">{{ 'post.views'|lang }} <i class="fa {{ 'views'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('category_id')})">{{ 'post.category'|lang }} <i class="fa {{ 'category_id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('author_id')})">{{ 'post.author'|lang }} <i class="fa {{ 'author_id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('created_at')})">{{ 'post.created'|lang }} <i class="fa {{ 'created_at'|ord }}"></i></td>
                <td>{{ 'post.checked'|lang }}</td>
                <td>{{ 'button.delete'|lang }}</td>
            </tr>
        </thead>
        <tbody>
        {% if not posts_list %}
            <tr>
                <td colspan="8" class="message">
                    <div>{{ 'form.empty'|lang }}</div>
                </td>
            </tr>
        {% endif %}
        {% for post in posts_list %}
            <tr>
                <td onclick="gui.go('{{ 'post.edit'|url(post.id) }}')" class="primary">#{{ post.id }}</td>
                <td onclick="gui.go('/post/{{ post.id }}-{{ post.slug }}.html')" title="{{ post.title }}">{{ post.title|sub(24) }}</td>
                <td>{{ post.views }}</td>
                <td onclick="gui.uri({'category': '{{ post.category.id }}'})">{{ post.category.title }}</td>
                <td onclick="gui.uri({'author': '{{ post.author.id }}'})">{{ post.author.username }}</td>
                <td>{{ post.updated_at|tz|dlang }}</td>
                {% if post.moderate == 1 %}
                <td onclick="if (confirm('{{ 'post.publish'|lang }} \'{{ post.title }}\'?')) gui.uri({'accept': '{{ post.id }}'})">
                    <i class="fa fa-check"></i> {{ 'post.publish'|lang }}
                </td>
                {% else %}
                <td>
                    <i class="fa fa-checked"></i> {{ 'post.checked'|lang }}
                </td>
                {% endif %}
                <td onclick="if (confirm('{{ 'button.delete'|lang }} \'{{ post.title }}\'?')) gui.uri({'delete': '{{ post.id }}'})">
                    <i class="fa fa-trash"></i> {{ 'button.delete'|lang }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td onclick="gui.uri({'order': gui.order_toggle('id')})" class="primary">ID <i class="fa {{ 'id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('title')})">{{ 'post.name'|lang }} <i class="fa {{ 'title'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('views')})">{{ 'post.views'|lang }} <i class="fa {{ 'views'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('category_id')})">{{ 'post.category'|lang }} <i class="fa {{ 'category_id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('author_id')})">{{ 'post.author'|lang }} <i class="fa {{ 'author_id'|ord }}"></i></td>
                <td onclick="gui.uri({'order': gui.order_toggle('created_at')})">{{ 'post.created'|lang }} <i class="fa {{ 'created_at'|ord }}"></i></td>
                <td>{{ 'post.checked'|lang }}</td>
                <td>{{ 'button.delete'|lang }}</td>
            </tr>
        </tfoot>
    </table>

    <menu>
        <a href="{{ 'list'|url }}" class="item{% if not moderate %} active{% endif %}">
            {{ 'post.list'|lang }}
        </a>
        <a href="{{ 'list.moderation'|url }}" class="item{% if moderate %} active{% endif %}">
            {{ 'post.onmoderation'|lang }}
        </a>
        <a href="{{ 'list.categories'|url }}" class="item">
            {{ 'post.categories'|lang }}
        </a>
        <a href="{{ 'post.new'|url }}" class="item">
            <i class="fa fa-plus"></i>
            {{ 'post.create'|lang }}
        </a>

        <nav class="right">
            {% for l in listing %}
                <a class="item{% if page == l %} active{% endif %}" href="?page={{ l }}">{{ l }}</a>
            {% endfor %}
        </nav>
    </menu>
{% endblock %}
